@charset "UTF-8";

/* ALL ========================*/

html {
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLORS AND FONTS =======================*/
:root {
    --cor-de-fundo: #f0f4f8;
    --cor-de-texto: #1a202c;
    --cor-primaria: #4299e1;
    --cor-auxiliar: #ed8936;
    --cor-secundaria: #2b6cb0;
    --cor-de-fundo-card: #ffffff;
    --fonte: 'Inter', Arial, sans-serif;
    --transicao: all 0.3s ease;
}

body {
    font-family: var(--fonte);
    
}

/* HEADER ===============================*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--cor-secundaria);
}

header {
    background-color: var(--cor-de-fundo-card);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cor-primaria);
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 2rem;  
}

.nav-links a {
    color: var(--cor-de-texto);
    text-decoration: none;
    transition: var(--transicao);
}

.nav-links a:hover {
    color: var(--cor-primaria);
}

/* MAIN ===========================*/   

main {
    margin-top: 5rem;
}

section {
    padding: 6rem 0;
}

.dev {
    border-radius: 8px;
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
}

.dev-texto h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: var(--cor-primaria);
}

.dev-texto p {
    font-size: 1.23rem;
    margin-bottom: 2rem;
}

.botao-de-contato {
    background-color: var(--cor-primaria);
    text-decoration: none;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    transition: var(--transicao);
}

.botao-de-contato:hover {
    background-color: var(--cor-secundaria);
}

.dev-imagem {
   position: relative; 
}

.imagem-perfil {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-width: 400px;
    object-fit: cover;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.skills-item {
    background-color: var(--cor-de-fundo-card);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    border-radius: 10px;
    transition: var(--transicao);
    cursor: pointer;
}

.skills-item:hover {
    transform: translateY(-5px);
}

.skill-icon {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.projetos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.projeto-card {
    background-color: var(--cor-de-fundo-card);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    transition: var(--transicao);
}

.projeto-card:hover {
    transform: translateY(-5px);
}

.titulo-projeto {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: var(--cor-secundaria);
}

.projeto-tags {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.projeto-tags span {
    background-color: var(--cor-auxiliar);
    color: white;
    padding: 0.25rem;
    font-size: 0.75rem;
    border-radius: 20px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

#projetos, #skills {
    margin:100px ;
}

footer {
    background-color: var(--cor-de-fundo-card);
    text-align: center;
    padding: 2rem 0;

}

.icones-footer {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 1rem;
}

@keyframes fade {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.fade-in {
    animation: fade 1s ease-out;
}

.terceira-secao {
    border-radius: 8px;
    background-color: #f5f5f5;
    padding: 1rem;
    
}

.terceira-secao > div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    align-items: center;
}

.terceira-secao > div img {
  width: 300px;
  border-radius: 10px;
}
